<p>espacio works!</p>
<!-- Formulario Espacio -->
<div class="card-body">
  <form #loginForm="ngForm" (ngSubmit)="espaciosData(loginForm.value)">
    <div class="main" >
      <div class="input-fields">
        <input name="descripcion" NgModel placeholder="Descripcion" id="descripcion" type="text" class="input-field"  />
      </div>
      <button>Espacio- Data</button>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Descripcion del espacio parqueadero</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let espacio of dataEspacio.espacios"  >
        <td>{{espacio._id}}</td>
        <td>{{espacio.descripcion}}</td>
        
        <td>
          <!-- <button (click)="editarEspacio(espacio)">Editar</button>
 -->
          <button (click)="borrarEspacio(espacio)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
