<p>vehiculo works!</p>
<div>
    <form #loginForm="ngForm" (ngSubmit)="vehiculosData(loginForm.value)">
      <div class="main" id="fvehiculo">
        <div class="input-fields">
          <input name="descripcion" ngModel placeholder="descripcion" id="descripcion" type="text" class="input-field" />
        </div>
        <div class="input-fields">
          <input name="placa" ngModel placeholder="placa" id="placa" type="text" class="input-field" />
        </div>
        
        
      <div class="input-fields">
          <input name="color" ngModel placeholder="color" id="color" type="color" class="input-field" />
        </div>
        <button>Vehiculo Data </button>
      </div>
    </form>
    <table border="1">
      <thead>
        <th>Descripcion del vechiculo</th>
        <th>Placa del vehiculo</th>
        <th>color del vehiculo</th>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculo of dataVehiculos.vehiculos">
          <td>{{vehiculo._id}}</td>
          <td>{{vehiculo.descripcion}}</td>
          <td>{{vehiculo.placa}}</td>
          <td>{{vehiculo.color}}</td>
        </tr>
      </tbody>
    </table>
  </div>