<p>parqueo works!</p>
<div>
    <form #loginForm="ngForm" (ngSubmit)="parqueosData(loginForm.value)">
      <div class="main" id="parqueo">
        <div class="input-fields">
          <input name="entrada" ngModel placeholder="Entrada de vehiculo" id="entrada" type="datetime-local" class="input-field" />
        </div>
        <div class="input-fields">
          <input name="salida" ngModel placeholder="HORA de salida" id="salida" type="datetime-local" class="input-field" />
        </div>
        <div class="input-fields">
          <select name="espacio" id="espacio" class="form-control">
            <option *ngFor="let espacio of dataEspacio" [value]="espacio">{{espacio}}</option>
          </select></div>
          <div class="input-fields">
            <select name="vehiculo" id="vehiculo" class="form-control">
              <option *ngFor="let vehiculo of dataVehiculo" [value]="vehiculo">{{vehiculo}}</option>
            </select></div>
        <div class="input-fields">
          <input name="vehiculo" ngModel placeholder="vehiculo" id="vehiculo" type="search" class="input-field" />
        </div>
        <button>Vehiculo Data </button>
      </div>
    </form>
    <table border="1">
      <thead>
        <th> Fecha hora de entrada al parqueo</th>
        <th>Fecha hora de salida al parqueo</th>

      </thead>
      <tbody>
        <tr *ngFor="let parqueo of dataParqueo.parqueos">
          <td>{{parqueo.entrada}}</td>
          <td>{{parqueo.salida}}</td>

        </tr>
      </tbody>
    </table>
  </div>